.bookNowButton {
  width: 100%;
  height: 40px;
  margin: auto;
  background-color: rgb(28, 125, 237);
  color: white;
  border-radius: 5px;
  border-style: none;
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15px;
}
.detailsDiv {
  width: 100%;
  display: flex;
}
.description {
  width: 80%;
  margin: 25px auto;
  height: auto;
}
.descriptionParagraph {
  max-width: max-content;
  overflow: hidden;
}
.address h5 {
  font-weight: normal;
  margin-right: 5px;
  margin-top: 10px;
}
.city {
  font-weight: bold;
}
.address p {
  margin-top: 10px;
}
.subDescription {
  display: flex;
}
.subDescription p {
  margin-right: 10px;
}
.imageDiv {
  width: 100%;
  height: 240px;
  margin: auto;
}
.imageDiv img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.card {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin-top: 30px;
  height: 685px;
  position: relative;
}
.buttonActive {
  background-color: rgb(114, 171, 251);
}
.unavailable {
  background-color: rgb(158, 158, 158);
}